<!-- data  binding -->
 <!-- interpolation {{ }}  -->

 <div class="container my-5">
   <button class="btn btn-primary" [disabled]="isuserlogged" (click)="login()">login</button>
   <button class="btn btn-danger mx-2"[disabled]="!isuserlogged"  (click)="logout()" >logout</button>   
  </div>
  
 <h1>{{propTrack.trackName}}</h1>


 <ul>

    <!-- <li> {{propTrack.trackBranch[0]}} </li>
     <li> {{propTrack.trackBranch[1]}} </li> -->
<div *ngFor="let i of propTrack.trackBranch" >
  <li *ngIf="" >

   {{i}}
   
</li> 
</div>




 </ul>



 <!-- <app-products></app-products> -->
